body{
    background-color: rgba(259,259,259);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image{
    width: 370px;
    margin-top: 50px;
}
@media(max-width:770px)
{
    .container{
        margin:0 10%;
    }
    .image{
        width: 100%;
    }
}
.footer{
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    bottom: 0;
    box-sizing: border-box;
    padding: 13px 0 10px;
    background-color: #7f7fff;
    width: 100%;
    text-align: center;
}